@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif !important;
}  
 .landing{
     height: 100vh;
     background: #3F3D56;
 }
 .content{
     padding-top: 280px;
 }
 .landing h1{
  color: #fff;
}
.landing .btn-primary{
    box-shadow: none !important;
    padding: 8px 25px;
    border-radius: 2px !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    background: none !important;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 70px;
}
.btn-primary{
    box-shadow: none !important;
    padding: 8px 25px;
    border-radius: 2px !important;
    border: 2px solid #3c366b !important;
    color: #3c366b !important;
    background: none !important;
}
.btn-primary:hover{
    background: #3c366b !important;
    color: #fff !important;
    border: 2px solid #fff !important;
}